{% extends 'base.html' %}
 
{% block content %}
 <a href="{%'https://thomasboxingfederationtbf.herokuapp.com/admin'%}">Admin</a>
 <a href="{% url 'boxers:index' %}">Boxers</a>
          <h3 class="page_heading">Thomas Boxing Federation</H3>
            <section>
             <h2  class="heading">About</h2>
             <p class="index_p"> The Thomas Boxing Federation (TBF) is a fictional
                 boxing federation consisting of two weight divisions. The
                 Heavweight Division is the top level of the TBF, while
                  the Middleweight Division contains several of the
                  most beloved fighters in boxing history.  The TBF uses
                 the game Title Bout II to play out its matches and tournaments.
             </p>
            </section>
          </div>
          <h5 class="footer">Commissioners:  Zack and Kevin Thomas</h5>
{% endblock  %} 
  </html>